.lineChart{
  &__xAxis{
    stroke:#000;
  }
  &__line{
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
  }

  &__circleSelected{
    fill: red;
    r:4;
  }

  &__xTicksText{
    font-size: 12px;
    transform:translate(0,15px)
  }

  &__xTicksLine{
    stroke:#000;
    transform:translate(0,0)
  }

  foreignObject{
    overflow:visible;
  }

  .toolTip{
    text-align: center;
    opacity: 0.9;
    font-size: 0.7rem;
    box-shadow: 0px 0px 9px 0px rgba(24, 9, 9, 0.2);
    background: #fff;
    padding: 10px;
    &__xValue{
      display: block;
    }
    &__yValue{    
      // display: flex;
      flex-direction: row;
    }
  }

}