.italyMap{
  &__region{
    // fill:#ccc;
    stroke:#ccc;
    stroke-width: 1;
    cursor: pointer;
  }
  &__selected{
    // fill:#dedede;
    fill:transparent;
    stroke:black;
    stroke-width: 1.5;
  }
  &__tooltip{
    text-align: center;
    font-size: 10px;
    background-color: white;
  }
}