.dashboardView{
  display: flex;

  &__italyMap{
    flex: 50%;
  }
  &__dataTable{
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 50%;
  }
  &__chartTrending{
    position: relative;
    padding: 20px 0;
  }
}